.app {
    display: grid;
    grid-template-rows: 150px auto;
}

.app_main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
}

.task_column {
    width: 33.33%;
    margin: 20px;
}

.theme-toggle-button {
	position: fixed;
	top: 40px;
	right: 75px;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	font-size: 16px;
}
